<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
{% include 'base.html' %}
    <main style="margin-top: 130px; padding: 20px;">

        <div class="container">
            <h1 style="margin-top: 24px; margin-bottom: 16px;color: #ffffff;">Welcome to My Portfolio</h1>
            <p style="margin-bottom: 12px;color: #ffffff;">This portfolio showcases my creative works, feel free to explore my works and get in touch if you have any questions</p>
        </div>
        <div class="container">
            <h1 style="margin-top: 24px; margin-bottom: 16px;color: #ffffff;">About Me</h1>
                <li style="margin-bottom: 12px;color: #ffffff; ">Integrated Mechanical and Electrical Engineering (IMEE) Graduate - University of Bath</li>
                <li style="margin-bottom: 12px;color: #ffffff; ">Based in the North-East of England</li>
                <li style="margin-bottom: 12px;color: #ffffff; ">Passionate about electronics, programming, and renewable energy</li>
                <li style="margin-bottom: 12px;color: #ffffff; ">Always working on one project or another to enhance my skills and knowledge</li>
                <p style="margin-top: 24px;color: #ffffff; ">CV availiable on request, reachable by email at josh.r.clennell@gmail.com</p>
        </div>

    </main>
</body>

</html>